*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#conteItemsCarrusel{
    border: 5px solid black;
    height: 200px;
    overflow: hidden;
}

.itemCarrusel{
    border: 1px solid black;
    height: 100%;
    position: relative;
}
.tarjetaCarrusel{
    background-color: rgba(255, 178, 13, 0.952);
    height: 100%;
}
.flechasCarrusel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
#tarjetaCarrusel-1{
    background-color: blueviolet;
}
#tarjetaCarrusel-2{
    background-color: rgb(73, 226, 231);
}
#tarjetaCarrusel-3{
    background-color: rgb(195, 43, 226);
}
a{
    text-decoration: none;
}
i{
    color: white;
}